<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="4x4" value="C:\Users\Miguel\source\repos\SkiResortChallenge\SkiResortChallenge\Files\4x4.txt" />
    <add key="1000*1000" value="C:\Users\Miguel\source\repos\SkiResortChallenge\SkiResortChallenge\Files\map.txt" />
  </appSettings>
</configuration>